body,
html {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 50%;
}

.page {
	max-width: 100%;
	padding-left: 100%;
	padding-right: 100%;
	padding-bottom: 70%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
	display: inline-block;
	border-bottom: 0px solid transparent;
	width: 100px;
	transition: 0.5s ease;
	height: 20px;
	text-align: center;
	z-index: 1;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	border-bottom: 6px solid rgba(4, 53, 0, 0.1);
	letter-spacing: 5px;
}


/* home + work page */

h1 {
	color: black;
	font: 55px 'Montserrat';
	font-weight: 500;
	letter-spacing: 10.5px;
	text-shadow: 3px 3px 7px #FBD8CC;
	color: black;
	position: absolute;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.who {
	font: 30px 'Montserrat', sans-serif;
	text-align: center;
	color: black;
	white-space: nowrap;
	position: fixed;
	letter-spacing: 5.2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.about {
	position: fixed;
	top: 25px;
	font: 15px 'Montserrat';
	text-align: center;
	width: 100%;
	color: black;
	z-index: 1;
}

.work {
	position: fixed;
	bottom: 25px;
	font: 15px 'Montserrat';
	text-align: center;
	width: 100%;
	color: black;
	z-index: 1;
}


/*about page*/

.navbarlogo {
	position: fixed;
	top: 0;
	width: 50%;
	z-index: 1;
}

.navbarlogo a {
	float: left;
	display: inline-block;
	color: black;
	margin: 90px 80px;
	font: 15px 'Montserrat';
	text-align: center;
}

.navbarwork {
	position: fixed;
	top: 0;
	width: 95%;
}

.navbarwork a {
	float: right;
	display: inline-block;
	margin: 90px 80px;
	color: black;
	font: 15px 'Montserrat';
	text-align: center;
}

.aboutImage {
	display: flex;
	height: 450px;
	width: 600px;
	margin: 35%;
	margin-left: 70%;
	position: relative;
	background-size: cover;
}

.aboutImage>h1 {
	top: 35%;
	left: 6%;
	color: black;
	font: 55px 'Montserrat';
	font-weight: 500;
	letter-spacing: 10px;
	text-shadow: 3px 3px 7px #FBD8CC;
}

.aboutImage>h1:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 30%;
	padding-top: 3px;
	border-bottom: 6px solid black;
	-webkit-box-shadow: 0px 1px 1px #de1dde;
	-moz-box-shadow: 0px 1px 1px #de1dde;
	box-shadow: 3px 3px 7px #FBD8CC;
}

.aboutDescription {
	font: italic 13px 'Georgia', 'Lora', serif;
	letter-spacing: 1px;
	line-height: 25px;
	position: absolute;
	right: 50%;
	left: 15%;
	padding-bottom: 40%;
}

.contact {
	font: italic 13px 'Georgia', 'Lora', serif;
	display: block;
	letter-spacing: 2px;
	position: absolute;
	line-height: 20px;
	position: absolute;
	right: 50%;
	left: 60%;
}


/*coming soon page*/

.workPage {
	background-image: url();
	background-repeat: repeat;
	background-size: 1000px 1000px;
}

.bold {
	font-weight: bolder;
}
